<header class="site-header">
    <div class="container header-container">
      <a href="/" class="header-logo">Kız Neşesi</a>
      <p class="header-tagline">Hayatınızı kolaylaştıran alışveriş platformu</p>
    </div>
  </header>
  