<nav class="site-navbar">
    <div class="container navbar-container">
      <ul class="navbar-links">
        <li><a href="/" class="navbar-link">Anasayfa</a></li>
        <li><a href="/products" class="navbar-link">Ürünler</a></li>
        <li><a href="/cart" class="navbar-link">Sepetim</a></li>
        <li><a href="/about" class="navbar-link">Hakkımızda</a></li>
        <li><a href="/contact" class="navbar-link">İletişim</a></li>
      </ul>
    </div>
  </nav>
  