<aside class="site-sidebar">
    <div class="container sidebar-container">
      <h2 class="sidebar-title">Kategoriler</h2>
      <ul class="sidebar-links">
        <li><a href="/products?category=electronics" class="sidebar-link">Elektronik</a></li>
        <li><a href="/products?category=clothing" class="sidebar-link">Giyim</a></li>
        <li><a href="/products?category=home-appliances" class="sidebar-link">Ev Aletleri</a></li>
      </ul>
    </div>
  </aside>
  