# Node.js
node_modules/
npm-debug.log

# Visual Studio Code
.vscode/

# Visual Studio
.vs/
.vs2019/

# OS-specific files
.DS_Store          # macOS
Thumbs.db          # Windows

# .env dosyalarını hariç tutma (gizli bilgiler için)
.env
